<form action="/file-upload" class="dropzone" id="upload-form">
    <input type="file" name="file" />
</form>

{{#each images}}
    <a href="/{{ id }}">
        <img src="/thumb/{{ name }}" class="thumb">
    </a>
{{/each}}
